image: "docker/compose:1.28.5"

services:
  - docker:dind

stages:
  - build
  - test
  - coverage

build:
  stage: build
  script:
    - cd docker/build
    - docker-compose up
  artifacts:
    paths:
      - release/
    expire_in: 20 minutes

test:
  stage: test
  needs: ["build"]
  dependencies:
    - build
  before_script:
    - cd docker/test
    - docker-compose down
    - cd ../owner
    - docker-compose down
    - cd ../database
    - docker-compose down
    - cd ../..
  script:
    - cd docker/database
    - docker-compose up -d
    - sleep 5
    - cd ../owner
    - mkdir -p cert
    - cp -r ../cert/ci/* cert
    - docker-compose up -d
    - cd ../test
    - docker-compose up | grep "BUILD FAILED" && touch failed
    - if [ -e failed ]; then
        docker-compose logs;
        rm failed;
        exist 1;
      fi
  after_script:
    - cd docker/test
    - docker-compose down
    - cd ../owner
    - docker-compose down
    - cd ../database
    - docker-compose down
  artifacts:
    when: always
    reports:
      junit:
        - rpc/target/surefire-reports/TEST-*.xml
        - mpc/target/surefire-reports/TEST-*.xml
        - data/target/surefire-reports/TEST-*.xml
        - plan/target/surefire-reports/TEST-*.xml
        - owner/target/surefire-reports/TEST-*.xml
        - user/target/surefire-reports/TEST-*.xml
    paths:
      - coverage/target/site/jacoco-aggregate/jacoco.xml
      - coverage/target/site/jacoco-aggregate/index.html
    expire_in: 3 day

coverage:
  stage: coverage
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.7
  script:
    - 'python /opt/cover2cover.py coverage/target/site/jacoco-aggregate/jacoco.xml 
              $CI_PROJECT_DIR/rpc/src/main/java/
              $CI_PROJECT_DIR/mpc/src/main/java/
              $CI_PROJECT_DIR/data/src/main/java/
              $CI_PROJECT_DIR/plan/src/main/java/
              $CI_PROJECT_DIR/owner/src/main/java/
              $CI_PROJECT_DIR/user/src/main/java/
              > coverage/target/site/coverage.xml'
  needs: ["test"]
  dependencies:
    - test
  coverage: '/Total.*?([0-9]{1,3})%/'
  artifacts:
    expire_in: 3 day
    reports:
      cobertura: coverage/target/site/coverage.xml
    paths:
      - coverage/target/site/jacoco-aggregate/index.html