<Configuration status="WARN" monitorInterval="300">
<Appenders>
<Console name="Console" target="SYSTEM_OUT">
    <PatternLayout pattern="[%t] [%-5level] %logger{36} - %msg%n" />
</Console>
<File name="MyFile" fileName="app.log">
    <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
</File>
</Appenders>
<Loggers>
<Root level="info">
    <AppenderRef ref="Console" />
</Root>
</Loggers>
</Configuration>